# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Log files
*.log

# OS specific
.DS_Store
Thumbs.db